.slds-p-horizontal_x-large{
    padding-left:1px;
}
.slds-modal{
    padding-bottom:40px ;
    padding-right: 150px;
}
.slds-card{
    padding-top:0px;
}
.slds-modal__content{
    padding-top:0px;
}
 
